<footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 mb30">
                        <h3>About Us</h3>
                        <p>
                        </p>
                        <ul class="list-inline f-social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                       
                    </div>
                    <div class="col-md-4 mb30">
                        <h3>Support Information</h3>
                        <p>
                            <small>Address:</small><br>
                            Karachi, Pakistan
                        </p>
                        <p>
                            <small>Call Us:</small><br>
                            <a href="#">+92 300 8764532</a>
                        </p>
                        <p>
                            <small>Mail Us:</small><br>
                            <a href="#">support@finder.com</a>
                        </p>
                    </div>
                    <div class="col-md-4 mb30">
                        <h3>useful links</h3>
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="f-links list-unstyled">
                                    
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    &copy; Copyright 2020. All Right Reserved.
                </div>
            </div>
        </footer>