<!DOCTYPE html>
<html>
    <header>
        <title>{{title}}</title>
                <link href="assets/css/bundle.css" rel="stylesheet">
        <link href="assets/css/style.css" rel="stylesheet">
    </header>
</html>
<body>
    {{>header}}

</body>
